// Enable DSL2
nextflow.enable.dsl = 2

// Default parameters
params {
    // Output configuration
    publish_dir_mode = "copy"
    outdir = '/mnt/workflow/pubdir'

    // Input parameters
    input = null                // Path to samplesheet CSV file
    samplot_docker = null
    
    // Region parameters
    chrom = null                // Chromosome (e.g., "chr4")
    start = null                // Start position (e.g., 115928726)
    end = null                  // End position (e.g., 115931880)
    sv_type = null              // SV type (e.g., "DEL", "DUP", "INV", "INS")
    
    // Output parameters
    output_file = null          // Output filename (optional, will auto-generate if not provided)
    
    // Optional parameters
    reference = null            // Reference file for CRAM (required if using CRAM files)
    window = null               // Window size (count of bases to include in view)
    max_depth = null            // Max number of normal pairs to plot
    plot_height = null          // Plot height
    plot_width = null           // Plot width
    include_mqual = null        // Min mapping quality of reads to be included
    transcript_file = null      // GFF3 of transcripts
    transcript_file_index = null
    annotation_files = null     // Space-delimited list of bed.gz tabixed annotation files
 
}

manifest {
    nextflowVersion = '!>=22.04.0'
    name = 'GATK Germline Ploidy Pipeline'
    author = 'NeoGenomica Bioinformatics Team'
    homePage = 'https://github.com/neogenomica/nf-gatk-dna-germline'
    description = 'GATK Germline Ploidy Pipeline'
    mainScript = 'main.nf'
    version = 'v1.0.0'
}

includeConfig './config/samplot.config'