process {
    withLabel: 'samplot' {
        container = params.samplot_docker
        publishDir       = [
                    [
                        mode: params.publish_dir_mode,
                        path: { "${params.outdir}/SAMPLOT/" },
                        pattern: "*"
                    ],
                ]
        memory = 32.GB
        cpus = 16
    }
}